/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

//----------------------去掉组件水印------start-------可根据需要自行增加---
.x-title-text-navigation:after {
  display: none !important;
}

.x-title-text-default:after {
  display: none !important;
}

//--------------------------------------end---------------------------

//-----------------------grid-actioncolumn--字体图标附加样式-------
.greenCls {
  font-size: 16px;
  color: #81cb31;
  margin: 0 5px 0 5px;
}

.redCls {
  font-size: 16px;
  color: #dd6550;
  margin: 0 5px 0 5px;
}

.yellowCls {
  font-size: 16px;
  color: #ffc839;
  margin: 0 5px 0 5px;
}

.blueCls {
  font-size: 16px;
  color: #29b6f6;
  margin: 0 5px 0 5px;
}