html, body, #map, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    border: hidden;
    font-family: "微软雅黑", serif;
}

#loading {
    height: auto;
    position: absolute;
    left: 47%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
}

#loading .loading-indicator {
    background: #ffffff;
    color: #282828;
    font: normal 16px 微软雅黑;
    height: auto;
    margin: 0;
    padding: 10px;
    /*透明度设置*/
    opacity: 1;
}