/**
 * Created by LBM on 2018/2/7.
 */
Ext.define('${pps.pci.projectName}.view.left.LeftController', {
    extend: 'Ext.app.ViewController',
    alias: 'controller.left',

    /**
     * Called when the view is created
     */
    init: function() {

    }
});