$ui-jz-progressbar-progress-background-color: dynamic($progress-background-color);
$ui-jz-progressbar-progress-border-color: dynamic($progress-border-color);
$ui-jz-progressbar-progress-border-width: dynamic($progress-border-width);
$ui-jz-progressbar-progress-border-radius: dynamic($progress-border-radius);
$ui-jz-progressbar-progress-bar-background-color: dynamic($progress-bar-background-color);
$ui-jz-progressbar-progress-bar-background-gradient: dynamic($progress-bar-background-gradient);
$ui-jz-progressbar-progress-height: dynamic($progress-height);
$ui-jz-progressbar-progress-text-font-family: dynamic($progress-text-font-family);
$ui-jz-progressbar-progress-text-font-size: dynamic($progress-text-font-size);
$ui-jz-progressbar-progress-text-font-weight: dynamic($progress-text-font-weight);
$ui-jz-progressbar-progress-text-text-align: dynamic($progress-text-text-align);