package ${ppn}.${ppsc.pci.dpName}.${acsId};

import org.springframework.stereotype.Repository;
#if("$!resCols" != "")
import java.util.List;
import ${ppn}.${ppsc.pci.epName}.${acsId}.${ao.responseName4C};
#end
#if("$!reqCols" != "")
import ${ppn}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C};
#end

/**
* @desc ${ao.apiDesc4C}
*/
@Repository("${ao.apiNameLow4C}Dao")
public interface I${ao.apiName4C}Dao {
#if(${ao.select4C} == 'on' && "$!resCols" != "")
	#if("$!reqCols" != "")
    List<${ao.responseName4C}> get${ao.apiName4C}(${ao.requestName4C} ${ao.requestNameLow4C}Params);
	#else
    List<${ao.responseName4C}> get${ao.apiName4C}();
	#end
#end
#if(${ao.insert4C} == 'on' && "$!resCols" != "")
void insert${ao.apiName4C}(${ao.responseName4C} ${ao.responseNameLow4C}Params);
#end
#if(${ao.delete4C} == 'on' && "$!reqCols" != "")
void delete${ao.apiName4C}(${ao.requestName4C} ${ao.requestNameLow4C}Params);
#end
#if(${ao.update4C} == 'on' && "$!reqCols" != "" && "$!resCols" != "")
void update${ao.apiName4C}(${ao.requestName4C} ${ao.requestNameLow4C}Params);
#end
}
