<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  SQL语句中涉及到日期格式自行调整，默认格式：'yyyy/MM/dd HH24:mi:ss'，注意日期格式中间不能换行符。 -->
    #set($dateFormatStr="'yyyy/MM/dd HH24:mi:ss'")
    #set($dateFormatStr4MySQL="'%Y-%m-%d %H:%i:%s'")

    ##其中包含对CLOB and BLOB类型处理
<mapper namespace="${projectPackageName}.${ppsc.pci.dpName}.${acsId}.I${ao.apiName4C}Dao">
    <resultMap id="${ao.apiName4C}ResultMap"
               type="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.responseName4C}">
        #foreach($col in $colList)
            #if(${col.javaType} == 'CLOB' || ${col.javaType} == 'Clob')
                <result property="${col.javaname}" column="${col.dbname}" javaType="${col.javaType}"
                        jdbcType="${col.dbType}"
                        typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
            #elseif(${col.javaType} == 'BLOB' || ${col.javaType} == 'Blob')
                <result property="${col.javaname}" column="${col.dbname}" javaType="${col.javaType}"
                        jdbcType="${col.dbType}"
                        typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
            #else
                <result property="${col.javaname}" column="${col.dbname}" javaType="${col.javaType}"
                        jdbcType="${col.dbType}"/>
            #end
        #end
    </resultMap>
    #if(${dbType} == 'oracle')
        #if(${ao.select4C} == 'on' && "$!resCols" != "")
            #if("$!reqCols" != "")
                <select id="get${ao.apiName4C}"
                        parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C}"
                        resultMap="${ao.apiName4C}ResultMap">
                    select #foreach($col in $resCols)
                    #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')to_char(${col.dbname},${dateFormatStr}
                        )as ${col.dbname}#if($velocityCount != $resCols.size())
                        ,#end#else${col.dbname}#if($velocityCount != $resCols.size()),#end#end#end from ${tableName}
                    <where>
                        #foreach($col in $reqCols)
                            #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                <if test=" ${col.javaname}List != null ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    <foreach collection="${col.javaname}List" index="index" item="item" open="("
                                             close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                            #elseif(${col.operator} == 'like')
                                <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    CONCAT(CONCAT('%',#{${col.javaname}}), '%')
                                </if>
                            #else
                                <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                    #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        to_date(#{${col.javaname}},${dateFormatStr}) ]]>
                                    #else
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #{${col.javaname}} ]]>
                                    #end
                                </if>
                            #end
                        #end
                    </where>
                </select>
            #else
                <select id="get${ao.apiName4C}" resultMap="${ao.apiName4C}ResultMap">
                    select #foreach($col in $resCols)#if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                    to_char(${col.dbname},${dateFormatStr}) as ${col.dbname}#if($velocityCount != $resCols.size())
                        ,#end#else${col.dbname}#if($velocityCount != $resCols.size()),#end#end#end from ${tableName}
                </select>
            #end
        #end
        #if(${ao.insert4C} == 'on' && "$!resCols" != "")
            <insert id="insert${ao.apiName4C}"
                    parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.responseName4C}"
                    useGeneratedKeys="false">
                insert into ${tableName} (#foreach($col in $resCols)${col.dbname}#if($velocityCount != $resCols.size())
                ,#end#end)
                values
                (#foreach($col in $resCols)#if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                to_date(#{${col.javaname}}, ${dateFormatStr})#if($velocityCount != $resCols.size()),#end#else
                #{${col.javaname}}#if($velocityCount != $resCols.size()),#end#end#end)
            </insert>
        #end
        #if(${ao.delete4C} == 'on' && "$!reqCols" != "")
            <!-- 在删除前一定要确认参数已正确传入，避免误删。-->
            <delete id="delete${ao.apiName4C}" parameterType="${pkJavaType}">
                delete from ${tableName}
                <where>
                    #foreach($col in $reqCols)
                        #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                            <if test=" ${col.javaname}List != null ">
                                #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                <foreach collection="${col.javaname}List" index="index" item="item" open="(" close=")"
                                         separator=",">
                                    #{item}
                                </foreach>
                            </if>
                        #elseif(${col.operator} == 'like')
                            <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                CONCAT(CONCAT('%',#{${col.javaname}}), '%')
                            </if>
                        #else
                            <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                    <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    to_date(#{${col.javaname}}, ${dateFormatStr}) ]]>
                                #else <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    #{${col.javaname}} ]]>
                                #end
                            </if>
                        #end
                    #end
                </where>
            </delete>
        #end
        #if(${ao.update4C} == 'on' && "$!reqCols" != "" && "$!resCols" != "")
            <update id="update${ao.apiName4C}"
                    parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C}">
                update ${tableName}
                <set>
                    #foreach($col in $resCols)
                        ##记录主键不参与更新，主键pk=1,非主键pk=0
                        #if(${col.pk} == "0")
                            #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                <if test="${col.javaname}4Value != null">${col.dbname}=to_date(#{${col.javaname}
                                    4Value}, ${dateFormatStr}) #if($velocityCount != $resCols.size()),#end
                                </if>
                            #else
                                <if test="${col.javaname}4Value != null">${col.dbname}=#{${col.javaname}
                                    4Value}#if($velocityCount != $resCols.size()),#end
                                </if>
                            #end
                        #end
                    #end
                </set>
                <where>
                    #foreach($col in $reqCols)
                        #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                            <if test=" ${col.javaname}List4Condition != null and ${col.javaname}List4Condition != '' ">
                                #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                <foreach collection="${col.javaname}List4Condition" index="index" item="item" open="("
                                         close=")" separator=",">
                                    #{item}
                                </foreach>
                            </if>
                        #elseif(${col.operator} == 'like')
                            <if test=" ${col.javaname}4Condition != null  and ${col.javaname}4Condition !='' ">
                                #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                CONCAT(CONCAT('%',#{${col.javaname}4Condition}), '%')
                            </if>
                        #else
                            <if test=" ${col.javaname}4Condition != null  and ${col.javaname}4Condition !='' ">
                                #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                    <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    to_date(#{${col.javaname}4Condition}, ${dateFormatStr}) ]]>
                                #else
                                    <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    #{${col.javaname}4Condition} ]]>
                                #end
                            </if>
                        #end
                    #end
                </where>
            </update>
        #end
    #elseif(${dbType} == 'mysql' || ${dbType} == 'postgresql')#*todo 20200102----暂定postgresql和mysql按照同样的规则解译*#
        #if("$!schemaName" != "")
            #if(${ao.select4C} == 'on' && "$!resCols" != "")
                #if("$!reqCols" != "")
                    <select id="get${ao.apiName4C}"
                            parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C}"
                            resultMap="${ao.apiName4C}ResultMap">
                        select #foreach($col in $resCols)
                        #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                            #if(${dbType} == 'postgresql')
                                to_char(${col.dbname},${dateFormatStr}) as ${col.dbname}
                            #else
                                date_format(${col.dbname},${dateFormatStr4MySQL})as ${col.dbname}
                            #end #if($velocityCount != $resCols.size())
                            ,#end#else${col.dbname}#if($velocityCount != $resCols.size()),#end#end#end
                        from ${schemaName}.${tableName}
                        <where>
                            #foreach($col in $reqCols)
                                #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                    <if test=" ${col.javaname}List != null ">
                                        #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        <foreach collection="${col.javaname}List" index="index" item="item" open="("
                                                 close=")" separator=",">
                                            #{item}
                                        </foreach>
                                    </if>
                                #elseif(${col.operator} == 'like')
                                    <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                        #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        CONCAT(CONCAT('%',#{${col.javaname}}), '%')
                                    </if>
                                #else
                                    <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                        #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                            <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                            #if(${dbType} == 'postgresql')
                                                to_date(#{${col.javaname}}, ${dateFormatStr})
                                            #else
                                                str_to_date(#{${col.javaname}},${dateFormatStr4MySQL})
                                            #end]]>
                                        #else
                                            <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                            #{${col.javaname}} ]]>
                                        #end
                                    </if>
                                #end
                            #end
                        </where>
                    </select>
                #else
                    <select id="get${ao.apiName4C}" resultMap="${ao.apiName4C}ResultMap">
                        select #foreach($col in $resCols)#if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                        #if(${dbType} == 'postgresql')
                            to_char(${col.dbname},${dateFormatStr}) as ${col.dbname}
                        #else
                            date_format(${col.dbname},${dateFormatStr4MySQL}) as ${col.dbname}
                        #end #if($velocityCount != $resCols.size())
                            ,#end#else${col.dbname}#if($velocityCount != $resCols.size()),#end#end#end
                        from ${schemaName}.${tableName}
                    </select>
                #end
            #end
            #if(${ao.insert4C} == 'on' && "$!resCols" != "")
                <insert id="insert${ao.apiName4C}"
                        parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.responseName4C}"
                        useGeneratedKeys="false">
                    insert into ${schemaName}.${tableName}
                    (#foreach($col in $resCols)${col.dbname}#if($velocityCount != $resCols.size()),#end#end)
                    values
                    (#foreach($col in $resCols)#if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                    #if(${dbType} == 'postgresql')
                        to_date(#{${col.javaname}}, ${dateFormatStr})
                    #else
                        str_to_date(#{${col.javaname}},${dateFormatStr4MySQL})
                    #end #if($velocityCount != $resCols.size())
                        ,#end#else #{${col.javaname}}#if($velocityCount != $resCols.size()),#end#end#end)
                </insert>
            #end
            #if(${ao.delete4C} == 'on' && "$!reqCols" != "")
                <!-- 在删除前一定要确认参数已正确传入，避免误删。-->
                <delete id="delete${ao.apiName4C}" parameterType="${pkJavaType}">
                    delete from ${schemaName}.${tableName}
                    <where>
                        #foreach($col in $reqCols)
                            #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                <if test=" ${col.javaname}List != null ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    <foreach collection="${col.javaname}List" index="index" item="item" open="("
                                             close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                            #elseif(${col.operator} == 'like')
                                <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    CONCAT(CONCAT('%',#{${col.javaname}}), '%')
                                </if>
                            #else
                                <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                    #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #if(${dbType} == 'postgresql')
                                            to_date(#{${col.javaname}}, ${dateFormatStr})
                                        #else
                                            str_to_date(#{${col.javaname}}, ${dateFormatStr4MySQL})
                                        #end ]]>
                                    #else <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #{${col.javaname}} ]]>
                                    #end
                                </if>
                            #end
                        #end
                    </where>
                </delete>
            #end
            #if(${ao.update4C} == 'on' && "$!reqCols" != "" && "$!resCols" != "")
                <update id="update${ao.apiName4C}"
                        parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C}">
                    update ${schemaName}.${tableName}
                    <set>
                        #foreach($col in $resCols)
                            ##记录主键不参与更新，主键pk=1,非主键pk=0
                            #if(${col.pk} == "0")
                                #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                    <if test="${col.javaname}4Value != null">${col.dbname}=#if(${dbType} ==
                                        'postgresql')
                                        to_date(#{${col.javaname}4Value}, ${dateFormatStr})
                                    #else
                                        str_to_date(#{${col.javaname}4Value}, ${dateFormatStr4MySQL})
                                    #end
                                        #if($velocityCount != $resCols.size()),#end
                                    </if>
                                #else
                                    <if test="${col.javaname}4Value != null">${col.dbname}=#{${col.javaname}
                                        4Value}#if($velocityCount != $resCols.size()),#end
                                    </if>
                                #end
                            #end
                        #end
                    </set>
                    <where>
                        #foreach($col in $reqCols)
                            #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                <if test=" ${col.javaname}List4Condition != null ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    <foreach collection="${col.javaname}List4Condition" index="index" item="item"
                                             open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                            #elseif(${col.operator} == 'like')
                                <if test=" ${col.javaname}4Condition != null  and ${col.javaname}4Condition !='' ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    CONCAT(CONCAT('%',#{${col.javaname}4Condition}), '%')
                                </if>
                            #else
                                <if test=" ${col.javaname}4Condition != null  and ${col.javaname}4Condition !='' ">
                                    #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #if(${dbType} == 'postgresql')
                                            to_date(#{${col.javaname}4Condition}, ${dateFormatStr})
                                        #else
                                            str_to_date(#{${col.javaname}4Condition}, ${dateFormatStr4MySQL})
                                        #end ]]>
                                    #else
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #{${col.javaname}4Condition} ]]>
                                    #end
                                </if>
                            #end
                        #end
                    </where>
                </update>
            #end
        #else
            #if(${ao.select4C} == 'on' && "$!resCols" != "")
                #if("$!reqCols" != "")
                    <select id="get${ao.apiName4C}"
                            parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C}"
                            resultMap="${ao.apiName4C}ResultMap">
                        select #foreach($col in $resCols)
                        #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                            #if(${dbType} == 'postgresql')
                                to_char(${col.dbname},${dateFormatStr}) as ${col.dbname}
                            #else
                                date_format(${col.dbname},${dateFormatStr4MySQL}) as ${col.dbname}
                            #end #if($velocityCount != $resCols.size())
                            ,#end#else${col.dbname}#if($velocityCount != $resCols.size()),#end#end#end from ${tableName}
                        <where>
                            #foreach($col in $reqCols)
                                #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                    <if test=" ${col.javaname}List != null ">
                                        #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        <foreach collection="${col.javaname}List" index="index" item="item" open="("
                                                 close=")" separator=",">
                                            #{item}
                                        </foreach>
                                    </if>
                                #elseif(${col.operator} == 'like')
                                    <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                        #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        CONCAT(CONCAT('%',#{${col.javaname}}), '%')
                                    </if>
                                #else
                                    <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                        #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                            <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                            #if(${dbType} == 'postgresql')
                                                to_date(#{${col.javaname}}, ${dateFormatStr})
                                            #else
                                                str_to_date(#{${col.javaname}},${dateFormatStr4MySQL})
                                            #end ]]>
                                        #else
                                            <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                            #{${col.javaname}} ]]>
                                        #end
                                    </if>
                                #end
                            #end
                        </where>
                    </select>
                #else
                    <select id="get${ao.apiName4C}" resultMap="${ao.apiName4C}ResultMap">
                        select #foreach($col in $resCols)#if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                        #if(${dbType} == 'postgresql')
                            to_char(${col.dbname},${dateFormatStr}) as ${col.dbname}
                        #else
                            date_format(${col.dbname},${dateFormatStr4MySQL}) as ${col.dbname}
                        #end #if($velocityCount != $resCols.size())
                            ,#end#else${col.dbname}#if($velocityCount != $resCols.size()),#end#end#end from ${tableName}
                    </select>
                #end
            #end
            #if(${ao.insert4C} == 'on' && "$!resCols" != "")
                <insert id="insert${ao.apiName4C}"
                        parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.responseName4C}"
                        useGeneratedKeys="false">
                    insert into ${tableName}
                    (#foreach($col in $resCols)${col.dbname}#if($velocityCount != $resCols.size()),#end#end)
                    values
                    (#foreach($col in $resCols)#if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                    #if(${dbType} == 'postgresql')
                        to_date(#{${col.javaname}}, ${dateFormatStr})
                    #else
                        str_to_date(#{${col.javaname}}, ${dateFormatStr4MySQL})
                    #end #if($velocityCount != $resCols.size())
                        ,#end#else #{${col.javaname}}#if($velocityCount != $resCols.size()),#end#end#end)
                </insert>
            #end
            #if(${ao.delete4C} == 'on' && "$!reqCols" != "")
                <!-- 在删除前一定要确认参数已正确传入，避免误删。-->
                <delete id="delete${ao.apiName4C}" parameterType="${pkJavaType}">
                    delete from ${tableName}
                    <where>
                        #foreach($col in $reqCols)
                            #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                <if test=" ${col.javaname}List != null ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    <foreach collection="${col.javaname}List" index="index" item="item" open="("
                                             close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                            #elseif(${col.operator} == 'like')
                                <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    CONCAT(CONCAT('%',#{${col.javaname}}), '%')
                                </if>
                            #else
                                <if test=" ${col.javaname} != null  and ${col.javaname} !='' ">
                                    #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #if(${dbType} == 'postgresql')
                                            to_date(#{${col.javaname}}, ${dateFormatStr})
                                        #else
                                            str_to_date(#{${col.javaname}}, ${dateFormatStr4MySQL})
                                        #end ]]>
                                    #else <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #{${col.javaname}} ]]>
                                    #end
                                </if>
                            #end
                        #end
                    </where>
                </delete>
            #end
            #if(${ao.update4C} == 'on' && "$!reqCols" != "" && "$!resCols" != "")
                <update id="update${ao.apiName4C}"
                        parameterType="${projectPackageName}.${ppsc.pci.epName}.${acsId}.${ao.requestName4C}">
                    update ${tableName}
                    <set>
                        #foreach($col in $resCols)
                            ##记录主键不参与更新，主键pk=1,非主键pk=0
                            #if(${col.pk} == "0")
                                #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                    <if test="${col.javaname}4Value != null  and ${col.javaname}4Value !=''">${col.dbname}=#if(${dbType} ==
                                        'postgresql')
                                        to_date(#{${col.javaname}4Value}, ${dateFormatStr})
                                    #else
                                        str_to_date(#{${col.javaname}4Value}, ${dateFormatStr4MySQL})
                                    #end #if($velocityCount != $resCols.size()),#end
                                    </if>
                                #else
                                    <if test="${col.javaname}4Value != null and ${col.javaname}4Value != ''">${col.dbname}=#{${col.javaname}
                                        4Value}#if($velocityCount != $resCols.size()),#end
                                    </if>
                                #end
                            #end
                        #end
                    </set>
                    <where>
                        #foreach($col in $reqCols)
                            #if(${col.operator} == 'in' || ${col.operator} == 'not in')
                                <if test=" ${col.javaname}List4Condition != null ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    <foreach collection="${col.javaname}List4Condition" index="index" item="item"
                                             open="(" close=")" separator=",">
                                        #{item}
                                    </foreach>
                                </if>
                            #elseif(${col.operator} == 'like')
                                <if test=" ${col.javaname}4Condition != null  and ${col.javaname}4Condition !='' ">
                                    #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                    CONCAT(CONCAT('%',#{${col.javaname}4Condition}), '%')
                                </if>
                            #else
                                <if test=" ${col.javaname}4Condition != null  and ${col.javaname}4Condition !='' ">
                                    #if(${col.dbType} == 'TIMESTAMP' || ${col.dbType} == 'DATE')
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #if(${dbType} == 'postgresql')
                                            to_date(#{${col.javaname}4Condition}, ${dateFormatStr})
                                        #else
                                            str_to_date(#{${col.javaname}4Condition}, ${dateFormatStr4MySQL})
                                        #end ]]>
                                    #else
                                        <![CDATA[ #if($velocityCount > 1) and #end ${col.dbname} ${col.operator}
                                        #{${col.javaname}4Condition} ]]>
                                    #end
                                </if>
                            #end
                        #end
                    </where>
                </update>
            #end
        #end
    #end
</mapper>
